<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.player.vlcplayer">

    <uses-permission android:name="org.videolan.vlc.permission.READ_EXTENSION_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>

</manifest>